body {
  margin: 0;
}

.header {
  height: 60px;
  background: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.menu-icon {
  font-size: 22px;
  cursor: pointer;
  margin-right: 15px;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: -220px;
  width: 220px;
  height: 100%;
  background: #111827;
  padding: 20px;
  transition: left 0.3s;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a,
.sidebar button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.content {
  padding: 30px;
  margin-top: 60px;
}
/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  z-index: 5;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  height: 100%;
  width: 250px;
  background: #111827;
  transition: 0.3s;
  z-index: 10;
}

.sidebar.open {
  left: 0;
}